.yearly-activity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.325rem;
}

.monthly-activity {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: 2px solid var(--color-gray-400);
    position: relative;

    &:hover .monthly-activity-tooltip {
        opacity: 1;
        visibility: visible;
    }

    &-active {
        border-width: 1px;
        background-color: var(--color-white);
    }

    &-tooltip {
        top: -1rem;
        left: 1.35rem;
        border-radius: 3rem;
        white-space: nowrap;
        padding: 0.5rem 1rem;
        border: 2px solid var(--color-gray-500);
        background-color: var(--color-gray-800);
        position: absolute;
        font-size: 0.875rem;
        letter-spacing: 0;
        opacity: 1;
        visibility: hidden;
        z-index: 3;

        &::before {
            content: "";
            position: absolute;
            left: -1rem;
            top: 50%;
            height: 2px;
            width: 1rem;
            background-color: var(--color-gray-500);
        }
    }

}