.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    @include dotted-background;

    .grid {
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(90deg, var(--color-gray-700) 2px, transparent 2px);
        background-size: 11vw;
    }

    .sun {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        border: 2px solid var(--color-gray-600);
        background-color: var(--color-gray-800);

        &-ray {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 8vh;
            height: 8vh;
            border: 1px dashed var(--color-gray-600);
            border-radius: 50%;

            &::before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                content: "";
                width: 9vh;
                height: 9vh;
                border: 1px dashed var(--color-gray-600);
                border-radius: 50%;
            }

            &::after {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                content: "";
                width: 10vh;
                height: 10vh;
                border: 1px dashed var(--color-gray-700);
                border-radius: 50%;
            }
        }
    }

    .planets {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .orbit {
            position: fixed;
            border-radius: 50%;
            border: 2px solid var(--color-gray-800);
            --orbit-size: 23vh;

            &:nth-child(1) {
                width: var(--orbit-size);
                height: var(--orbit-size);
                animation: rotation-clockwise 10s linear infinite;

                &:before {
                    top: 3vh;
                    left: 2.1vh;
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: var(--color-gray-600);
                    border-radius: 50%;
                }
            }

            &:nth-child(2) {
                width: calc(var(--orbit-size) * 2);
                height: calc(var(--orbit-size) * 2);
                animation: rotation-clockwise 20s linear infinite;

                &:before {
                    bottom: 6vh;
                    right: 5.5vh;
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: var(--color-gray-900);
                    border: 2px solid var(--color-gray-600);
                    border-radius: 50%;
                }
            }

            &:nth-child(3) {
                width: calc(var(--orbit-size) * 3);
                height: calc(var(--orbit-size) * 3);
                animation: rotation-clockwise 30s linear infinite;


                .earth {
                    top: 9vh;
                    left: 8.75vh;
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background-color: var(--color-gray-800);
                    border: 2px solid var(--color-gray-600);
                    border-radius: 50%;
                    animation: rotation-clockwise 4s linear infinite;

                    &::before {
                        top: 2vh;
                        left: 2vh;
                        content: "";
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        background-color: var(--color-gray-600);
                        border-radius: 50%;
                    }
                }
            }

            &:nth-child(4) {
                width: calc(var(--orbit-size) * 4);
                height: calc(var(--orbit-size) * 4);

                animation: rotation-clockwise 40s linear infinite;

                &:before {
                    bottom: 13vh;
                    left: 12.4vh;
                    content: "";
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    background-color: var(--color-gray-500);
                    border-radius: 50%;
                }
            }

            &:nth-child(5) {
                width: calc(var(--orbit-size) * 5);
                height: calc(var(--orbit-size) * 5);
                animation: rotation-clockwise 50s linear infinite;

                .jupiter {
                    bottom: 30vh;
                    right: 4.75vh;
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: var(--color-gray-900);
                    border: 2px solid var(--color-gray-600);
                    border-radius: 50%;
                    animation: rotation-clockwise 6s linear infinite;

                    &::before {
                        top: 3vh;
                        left: 1vh;
                        content: "";
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        background-color: var(--color-gray-600);
                        border-radius: 50%;
                    }

                    &::after {
                        bottom: 4vh;
                        left: 3vh;
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        background-color: var(--color-gray-600);
                        border-radius: 50%;
                    }
                }
            }

            &:nth-child(6) {
                width: calc(var(--orbit-size) * 6);
                height: calc(var(--orbit-size) * 6);
                animation: rotation-clockwise 60s linear infinite;

                .saturn {
                    position: absolute;
                    top: 50vh;
                    left: 1vh;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: var(--color-gray-900);
                    border: 2px solid var(--color-gray-600);
                    animation: rotation-clockwise 10s linear infinite;

                    &::before {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        border: 1px solid var(--color-gray-600);
                        border-radius: 50%;
                    }

                    &::after {
                        bottom: 4vh;
                        left: 2vh;
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border: 2px solid var(--color-gray-600);
                        background-color: var(--color-gray-900);
                        border-radius: 50%;
                    }
                }
            }

            &:nth-child(7) {
                width: calc(var(--orbit-size) * 7);
                height: calc(var(--orbit-size) * 7);
                animation: rotation-clockwise 70s linear infinite;

                &::before {
                    top: 60vh;
                    right: 1vh;
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    border: 2px solid var(--color-gray-600);
                    background-color: var(--color-gray-900);
                    background-size: 6px 10px;
                }
            }

            &:nth-child(8) {
                width: calc(var(--orbit-size) * 8);
                height: calc(var(--orbit-size) * 8);
                animation: rotation-clockwise 80s linear infinite;

                &::before {
                    bottom: 70vh;
                    left: 0.75vh;
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background-color: var(--color-gray-800);
                    border: 2px solid var(--color-gray-600);
                    border-radius: 50%;
                }
            }

            &:nth-child(9) {
                width: calc(var(--orbit-size) * 9);
                height: calc(var(--orbit-size) * 9);
                animation: rotation-clockwise 90s linear infinite;

                &:before {
                    top: 65vh;
                    right: 6.5vh;
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: var(--color-gray-500);
                    border-radius: 50%;
                }
            }
        }
    }
}