.home {
  position: relative;

  &-headline {
    text-align: center;
    margin: 4rem 0 6rem;

    &-title {
      font-size: 5rem;
      letter-spacing: 2px;
    }

    &-desc {
      margin: 0rem auto;
      font-size: 1.75rem;
      max-width: 34rem;
    }
  }
}

.button-next-slide {
  top: 18.25rem;
  z-index: 2;
  align-self: flex-end;
  position: sticky;
  float: right;
  margin-left: -100%;
  margin-right: 4.25rem;
  margin-bottom: 42.25rem;
}