.main {
  max-width: 66rem;
  padding: 3rem 2rem;
  margin: auto;
  position: relative;
  height: 100%;
}

.content {
  display: flex;
  margin: 6rem 0;
  position: relative;
}

.home {
  position: relative;

  &-headline {
    text-align: center;
    margin: 4rem 0 6rem;

    &-title {
      font-size: 5rem;
      letter-spacing: 2px;
    }

    &-desc {
      margin: 0rem auto;
      font-size: 1.65rem;
      max-width: 34rem;
    }
  }
}

.line {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--color-gray-500);

  &-mon-top {
    transform: rotate(90deg);
    left: -8px;
    top: -4px;
    position: absolute;
  }

  &-mon-bottom {
    left: -7px;
    bottom: -4px;
    position: absolute;
    transform: rotate(-90deg);
  }

  .scroll-text {
    transform: rotate(-90deg);
    position: absolute;
    white-space: nowrap;
    padding: 0 0.5rem;
    background-color: var(--color-gray-900);
    color: var(--color-white);

    &-top {
      left: -2.25rem;
      top: 6rem;
    }

    &-bottom {
      left: -2.125rem;
      bottom: 6rem;
    }
  }

  &-left {
    left: 6rem;
  }

  &-right {
    right: 6rem;
  }
}

.button-next-slide {
  top: 18.25rem;
  z-index: 2;
  align-self: flex-end;
  position: sticky;
  float: right;
  margin-left: -100%;
  margin-right: 4.25rem;
  margin-bottom: 42.25rem;
}