.main {
  max-width: 66rem;
  padding: 3rem 2rem;
  margin: auto;
  position: relative;
  height: 100%;

  &:before {
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;

  }
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &-headline {
    text-align: center;
    margin: 4rem 0 6rem;

    &-title {
      font-size: 5rem;
    }

    &-desc {
      margin: 0rem auto;
      font-size: 1.65rem;
      max-width: 34rem;
    }
  }
}

.date-time {
  text-align: center;
  margin: 6rem 0;

  .time {
    margin: 0.5rem 0;
  }

  .date {
    font-weight: 400;
  }

  .page-load {
    font-weight: 400;
  }
}

.content {
  display: flex;
  margin: 6rem 0;
  position: relative;
}

.line {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--color-gray-500);

  &-mon-top {
    transform: rotate(90deg);
    left: -8px;
    top: -4px;
    position: absolute;
  }

  &-mon-bottom {
    left: -7px;
    bottom: -4px;
    position: absolute;
    transform: rotate(-90deg);
  }

  .scroll-text {
    transform: rotate(-90deg);
    position: absolute;
    white-space: nowrap;
    padding: 0 0.5rem;
    background-color: var(--color-gray-900);

    &-top {
      left: -2.25rem;
      top: 6rem;
    }

    &-bottom {
      left: -2.125rem;
      bottom: 6rem;
    }
  }

  &-left {
    left: 6rem;
  }

  &-right {
    right: 6rem;
  }
}

.button-container {
  z-index: 2;
  top: 6rem;
  right: 4.25rem;
  position: absolute;
}

.sphere {
  margin: 0 auto 1.5rem;
  top: 50%;
  transform-style: preserve-3d;
  transform: rotateX(-1deg) rotateY(-1deg) rotateZ(-1deg);
  height: 4rem;
  width: 4rem;
  animation: rotate 15s linear infinite;
  position: absolute;
  top: 12rem;
  left: 59%;
}

.sphere div {
  height: 4rem;
  width: 4rem;
  background: transparent;
  position: absolute;
  transform-style: preserve-3d;
}

.inner {
  background: none;
  border: 1px dashed var(--color-gray-300);
  border-radius: 50%;
}

.top {
  transform: rotateX(45deg) translateZ(calc(6.5rem * 2));
}

.bottom {
  transform: rotateX(45deg) translateZ(-calc(6.5rem * 1.2));
}

.sphere-one {
  transform: rotateX(0) translateZ(0);
}

.sphere-two {
  transform: rotateY(-90deg) translateZ(0);
}

.sphere-three {
  transform: rotateX(90deg) translateY(0);
}

.sphere-three {
  transform: rotateY(45deg) rotateX(45deg) translateY(0);
}

.sphere-five {
  transform: rotateY(-45deg) rotateX(-45deg) translateY(0);
}

.sphere-six {
  transform: rotateY(-45deg) rotateX(45deg) translateY(0);
}

@keyframes rotate {
  0% {
    transform: rotateX(-1deg) rotateY(-1deg) rotateZ(-1deg);
  }

  50% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}