.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  transition: 0.1s linear;
  position: relative;
  cursor: pointer;
  margin-left: -0.25rem;
  width: 3.75rem;
  height: 3.75rem;
  box-shadow: 0 3px 6px var(--color-black);
  background-color: var(--color-white);
  font-family: var(--font);

  &:hover .icon-button-tooltip {
    display: inline;
  }

  &:before {
    position: absolute;
    content: "";
    border: 2px solid var(--color-gray-500);
    z-index: -1;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
  }

  &-tooltip {
    position: absolute;
    left: 5rem;
    padding: 0.5rem 1rem;
    color: var(--color-white-two);
    background-color: var(--color-gray-800);
    border: 2px solid var(--color-gray-500);
    border-radius: 10rem;
    white-space: nowrap;
    display: none;
    font-size: 0.875rem;
    letter-spacing: 0;

    &::before {
      left: -16px;
      top: 16px;
      position: absolute;
      content: "";
      width: 16px;
      height: 2px;
      background-color: var(--color-gray-500);
    }
  }
}