.line {
    &-horizontal {
        width: 100%;
        height: 2px;
        background-color: var(--color-gray-500);
        position: relative;

        &-end {
            &:first-child {
                left: 0;
                top: -5px;
                position: absolute;
                height: 12px;
                width: 2px;
                background-color: var(--color-gray-500);

                &::before {
                    position: absolute;
                    content: "";
                    left: 4px;
                    height: 12px;
                    width: 2px;
                    background-color: var(--color-gray-500);
                }

                &::after {
                    position: absolute;
                    content: "";
                    left: 10px;
                    top: 2.5px;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: var(--color-gray-500);
                }
            }

            &:last-child {
                right: 0;
                top: -5px;
                position: absolute;
                height: 12px;
                width: 2px;
                background-color: var(--color-gray-500);

                &::before {
                    position: absolute;
                    content: "";
                    right: 4px;
                    height: 12px;
                    width: 2px;
                    background-color: var(--color-gray-500);
                }

                &::after {
                    position: absolute;
                    content: "";
                    right: 10px;
                    top: 2.5px;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: var(--color-gray-500);
                }
            }
        }
    }

    &-vertical {
        height: 100%;
        width: 2px;
        background-color: var(--color-gray-500);
        position: absolute;

        &:first-child {
            left: 6rem;
        }

        &:last-child {
            right: 6rem;
        }

        &-end {
            &:first-child {
                position: absolute;
                content: "";
                width: 12px;
                height: 2px;
                background-color: var(--color-gray-500);
                left: -5px;
                top: 0;

                &::before {
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 2px;
                    background-color: var(--color-gray-500);
                    left: 0;
                    top: 4px;
                }

                &::after {
                    position: absolute;
                    content: "";
                    left: 2.5px;
                    top: 10px;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: var(--color-gray-500);
                }
            }

            &:last-child {
                position: absolute;
                content: "";
                width: 12px;
                height: 2px;
                background-color: var(--color-gray-500);
                left: -5px;
                bottom: 0;

                &::before {
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 2px;
                    background-color: var(--color-gray-500);
                    left: 0;
                    bottom: 4px;
                }

                &::after {
                    position: absolute;
                    content: "";
                    left: 2.5px;
                    bottom: 10px;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: var(--color-gray-500);
                }
            }
        }
    }
}