.project {
    height: 100%;
    max-width: 44rem;
    margin: auto;
    padding: 0 1rem;
    flex: 1;
    font-size: 1.25rem;
    text-align: justify;

    &-title {
        margin-bottom: 1rem;
    }

    a {
        text-decoration: underline;
    }

    p {
        font-weight: 300;
        line-height: 1.5;
    }

    li {
        font-weight: 300;
    }

    .button-close {
        z-index: 2;
        top: 18.25rem;
        margin-right: -5.75rem;
        position: sticky;
        float: right;
    }
}