.project-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  min-width: 20rem;
  height: 26rem;
  border: 2px solid var(--color-gray-500);
  border-radius: 4px;
  @include dotted-background;

  &:hover .arrow-up-right_svg__arrow-up-right>path {
    stroke: var(--color-primary-500);
  }

  &-heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &-number {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--color-gray-300);
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  hr {
    border: 0;
    border-top: 2px solid var(--color-gray-500);
    margin: 1rem 0;
  }


  &-title {
    font-size: 2.75rem;
    margin: 1.25rem 0;
  }

  &-date {
    font-size: 1.5rem;
    color: var(--color-gray-300);
  }
}