.scroll-progress {
    position: relative;
    z-index: 1;

    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        padding: 7rem 0;

        &-text {
            margin-left: 3.75rem;
            padding: 0 0.5rem;
            background-color: var(--color-gray-900);
            transform: rotate(-90deg);
            color: var(--color-white);
            text-decoration: none;


            &:first-child:hover::after {
                opacity: 1;
            }

            &:last-child:hover::after {
                opacity: 1;
            }

            &:first-child {
                &::before {
                    left: -1rem;
                    top: -0.4rem;
                    position: absolute;
                    content: "";
                    height: 2rem;
                    width: 2px;
                    transform: rotate(90deg);
                    background-color: var(--color-white);
                }

                &::after {
                    color: var(--color-primary-500);
                    content: "#";
                    position: absolute;
                    right: -0.5rem;
                    opacity: 0;
                    transition: opacity 0.25s;
                }
            }

            &:last-child {
                &::before {
                    right: -1rem;
                    top: -0.4rem;
                    position: absolute;
                    content: "";
                    height: 2rem;
                    width: 2px;
                    transform: rotate(90deg);
                    background-color: var(--color-white);
                }

                &::after {
                    color: var(--color-primary-500);
                    content: "#";
                    position: absolute;
                    left: -0.5rem;
                    opacity: 0;
                    transition: opacity 0.25s;
                }
            }
        }
    }

    &-tooltip {
        opacity: 0;
        top: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        margin: 14rem -12rem 14rem 4.625rem;
        padding: 0.5rem;
        border-radius: 50%;
        width: 2.75rem;
        height: 2.75rem;
        font-size: 0.875rem;
        border: 2px solid var(--color-gray-500);
        background-color: var(--color-gray-800);
        transition: opacity 0.15s;
    }
}