.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  border-top: 2px solid var(--color-gray-500);
  position: relative;

  &-links {
    display: flex;
    gap: 1rem;
  }

  &-link {
    outline: none;

    &:hover {
      color: var(--color-primary-400);
      text-decoration: underline;
    }
  }

  &-mon-left {
    top: -0.625rem;
    left: -0.25rem;
    position: absolute;
  }

  &-mon-right {
    top: -0.625rem;
    right: -0.25rem;
    position: absolute;
  }


}