@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap");

@import "./IconButton.module.scss";
@import "./Home.module.scss";
@import "./Header.module.scss";
@import "./Footer.module.scss";
@import "./ProjectCard.module.scss";
@import "./ProjectsSlider.module.scss";
@import "./Project.module.scss";

:root {
  --color-hue: 200;

  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  --color-gray-900: hsl(0, 0%, 8%);
  --color-gray-800: hsl(0, 0%, 10%);
  --color-gray-700: hsl(0, 0%, 13%);
  --color-gray-600: hsl(0, 0%, 15%);
  --color-gray-500: hsl(0, 0%, 17%);
  --color-gray-400: hsl(0, 0%, 20%);
  --color-gray-300: hsl(0, 0%, 25%);
  --color-gray-200: hsl(0, 0%, 30%);
  --color-gray-100: hsl(0, 0%, 50%);

  --color-primary-500: hsl(var(--color-hue), 65%, 52%);
  --color-primary-400: hsl(var(--color-hue), 65%, 62%);
  --color-primary-300: hsl(var(--color-hue), 65%, 72%);

  --font-main: Eugusto;
  --font-alt: "Urbanist", sans-serif;
}


@font-face {
  font-family: Eugusto;
  src: url("../assets/fonts/Eugusto.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-alt);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}


button {
  transition: 0.25s;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-gray-700);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-500);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-400);
}

ul {
  padding: 0;
}


li {
  position: relative;
  list-style: none;
  margin: 0.5rem 2rem;
}

li::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: -2rem;
  top: 3px;

  background-color: var(--color-white);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 198 191' %3E%3Cpath d='M96.9997 88C96.9997 90.0323 101 90.0323 101 88L102.5 69.5C102.666 68.3333 102.2 66 98.9997 66C95.7997 66 95.3331 68.3333 95.4997 69.5L96.9997 88Z' fill='white'/%3E%3Cpath d='M83.1648 100.958C85.0977 101.586 86.3337 97.7816 84.4009 97.1536L67.2699 90.0102C66.2118 89.4912 63.8485 89.214 62.8596 92.2574C61.8708 95.3007 63.9457 96.4656 65.1068 96.6676L83.1648 100.958Z' fill='white'/%3E%3Cpath d='M91.2133 118.12L81.5528 133.968C81.0019 135.01 79.2528 136.624 76.664 134.743C74.0751 132.862 75.0691 130.7 75.8896 129.854L87.9772 115.769C89.1718 114.125 92.4079 116.476 91.2133 118.12Z' fill='white'/%3E%3Cpath d='M110.022 115.769C108.828 114.125 105.592 116.476 106.786 118.12L116.447 133.968C116.998 135.01 118.747 136.624 121.336 134.743C123.924 132.862 122.931 130.7 122.11 129.854L110.022 115.769Z' fill='white'/%3E%3Cpath d='M113.599 97.1536L130.73 90.0102C131.788 89.4912 134.151 89.214 135.14 92.2573C136.129 95.3007 134.054 96.4656 132.893 96.6676L114.835 100.958C112.902 101.586 111.666 97.7816 113.599 97.1536Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M112 104C112 111.18 106.179 117 98.9998 117C91.8201 117 85.9998 111.18 85.9998 104C85.9998 96.8203 91.8201 91 98.9998 91C106.179 91 112 96.8203 112 104ZM108 104C108 108.971 103.97 113 98.9998 113C94.0292 113 89.9998 108.971 89.9998 104C89.9998 99.0294 94.0292 95 98.9998 95C103.97 95 108 99.0294 108 104Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M121 14C132.574 20.2324 144.149 35.1845 139.49 48.2698C150.495 39.7957 168.292 46.1832 177.796 55.2652C186.336 63.4257 194.446 69.8331 197.434 72.0167C196.301 75.5394 193.505 85.4902 191.393 97.1117C189.043 110.046 178.399 125.674 164.515 125.287C175.975 133.135 175.399 152.035 169.699 163.88C164.577 174.524 160.989 184.217 159.836 187.733C156.135 187.744 145.807 188.16 134.102 189.743C121.075 191.504 102.922 186.211 98.9998 172.886C95.0772 186.211 76.9247 191.504 63.8975 189.743C52.1921 188.16 41.8646 187.744 38.164 187.733C37.0105 184.217 33.4229 174.524 28.3007 163.88C22.6001 152.035 22.0249 133.135 33.485 125.287C19.6006 125.674 8.95697 110.046 6.60632 97.1117C4.49418 85.4902 1.699 75.5394 0.56543 72.0167C3.5531 69.8331 11.6634 63.4257 20.2031 55.2652C29.7071 46.1832 47.5041 39.7957 58.5093 48.2697C53.8509 35.1845 65.4253 20.2324 76.9997 14C87.3997 8.4 95.9997 2.66667 98.9998 0.5C102 2.66667 110.6 8.4 121 14ZM78.7041 77.5913C83.0145 83.5536 86.9534 88.9901 89.4997 92.5L90.9983 91.4112C88.4471 87.905 84.4938 82.479 80.1555 76.5372C75.4895 69.9963 70.5367 62.9095 66.9998 57.5C58.4998 44.5 62.9998 28.5 76.9998 20.5C88.1998 14.1 96.3331 8.83333 98.9998 7C101.666 8.83333 109.8 14.1 121 20.5C135 28.5 139.5 44.5 131 57.5C127.462 62.9102 122.509 69.9982 117.842 76.5398C113.505 82.4806 109.552 87.9055 107.001 91.4112L108.5 92.5C111.046 88.9907 114.984 83.5552 119.293 77.5941C124.073 71.1345 129.283 64.233 133.335 59.1969C143.072 47.0957 159.68 46.4312 171.615 57.2738C181.162 65.948 188.685 72.0557 191.252 74.0253C190.333 77.128 187.837 86.4908 185.211 99.1203C181.929 114.907 168.103 124.131 153.112 120.065C146.875 118.372 138.604 115.852 130.941 113.435C123.95 111.145 117.568 109.062 113.445 107.72L112.873 109.481C116.997 110.818 123.385 112.884 130.387 115.141C138.007 117.691 146.179 120.513 152.22 122.81C166.738 128.331 172.502 143.921 165.878 158.622C160.579 170.383 157.095 179.424 156.015 182.475C152.78 182.559 143.104 183.079 130.281 184.484C114.253 186.241 101.208 175.942 100.443 160.428C100.125 153.973 99.9665 145.328 99.8967 137.293C99.914 129.936 99.923 123.224 99.9259 118.888L98.0736 118.888C98.0766 123.224 98.0856 129.937 98.1029 137.293C98.0331 145.328 97.8745 153.973 97.5563 160.428C96.7918 175.942 83.7466 186.241 67.7181 184.484C54.8953 183.079 45.2196 182.559 41.9846 182.475C40.9049 179.424 37.4205 170.383 32.1214 158.622C25.4974 143.921 31.2614 128.331 45.7792 122.81C51.8212 120.512 59.9951 117.69 67.6154 115.14C74.6164 112.884 81.0027 110.818 85.127 109.481L84.5546 107.72C80.4321 109.062 74.0513 111.145 67.0608 113.435C59.3974 115.851 51.1256 118.372 44.8871 120.065C29.8967 124.131 16.0704 114.907 12.7882 99.1203C10.1624 86.4908 7.66685 77.128 6.7473 74.0253C9.31495 72.0557 16.8372 65.948 26.3849 57.2738C38.3196 46.4312 54.9271 47.0957 64.6642 59.1969C68.7159 64.2323 73.9253 71.1326 78.7041 77.5913Z' fill='white'/%3E%3C/svg%3E");
  mask-size: 18px;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 198 191' %3E%3Cpath d='M96.9997 88C96.9997 90.0323 101 90.0323 101 88L102.5 69.5C102.666 68.3333 102.2 66 98.9997 66C95.7997 66 95.3331 68.3333 95.4997 69.5L96.9997 88Z' fill='white'/%3E%3Cpath d='M83.1648 100.958C85.0977 101.586 86.3337 97.7816 84.4009 97.1536L67.2699 90.0102C66.2118 89.4912 63.8485 89.214 62.8596 92.2574C61.8708 95.3007 63.9457 96.4656 65.1068 96.6676L83.1648 100.958Z' fill='white'/%3E%3Cpath d='M91.2133 118.12L81.5528 133.968C81.0019 135.01 79.2528 136.624 76.664 134.743C74.0751 132.862 75.0691 130.7 75.8896 129.854L87.9772 115.769C89.1718 114.125 92.4079 116.476 91.2133 118.12Z' fill='white'/%3E%3Cpath d='M110.022 115.769C108.828 114.125 105.592 116.476 106.786 118.12L116.447 133.968C116.998 135.01 118.747 136.624 121.336 134.743C123.924 132.862 122.931 130.7 122.11 129.854L110.022 115.769Z' fill='white'/%3E%3Cpath d='M113.599 97.1536L130.73 90.0102C131.788 89.4912 134.151 89.214 135.14 92.2573C136.129 95.3007 134.054 96.4656 132.893 96.6676L114.835 100.958C112.902 101.586 111.666 97.7816 113.599 97.1536Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M112 104C112 111.18 106.179 117 98.9998 117C91.8201 117 85.9998 111.18 85.9998 104C85.9998 96.8203 91.8201 91 98.9998 91C106.179 91 112 96.8203 112 104ZM108 104C108 108.971 103.97 113 98.9998 113C94.0292 113 89.9998 108.971 89.9998 104C89.9998 99.0294 94.0292 95 98.9998 95C103.97 95 108 99.0294 108 104Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M121 14C132.574 20.2324 144.149 35.1845 139.49 48.2698C150.495 39.7957 168.292 46.1832 177.796 55.2652C186.336 63.4257 194.446 69.8331 197.434 72.0167C196.301 75.5394 193.505 85.4902 191.393 97.1117C189.043 110.046 178.399 125.674 164.515 125.287C175.975 133.135 175.399 152.035 169.699 163.88C164.577 174.524 160.989 184.217 159.836 187.733C156.135 187.744 145.807 188.16 134.102 189.743C121.075 191.504 102.922 186.211 98.9998 172.886C95.0772 186.211 76.9247 191.504 63.8975 189.743C52.1921 188.16 41.8646 187.744 38.164 187.733C37.0105 184.217 33.4229 174.524 28.3007 163.88C22.6001 152.035 22.0249 133.135 33.485 125.287C19.6006 125.674 8.95697 110.046 6.60632 97.1117C4.49418 85.4902 1.699 75.5394 0.56543 72.0167C3.5531 69.8331 11.6634 63.4257 20.2031 55.2652C29.7071 46.1832 47.5041 39.7957 58.5093 48.2697C53.8509 35.1845 65.4253 20.2324 76.9997 14C87.3997 8.4 95.9997 2.66667 98.9998 0.5C102 2.66667 110.6 8.4 121 14ZM78.7041 77.5913C83.0145 83.5536 86.9534 88.9901 89.4997 92.5L90.9983 91.4112C88.4471 87.905 84.4938 82.479 80.1555 76.5372C75.4895 69.9963 70.5367 62.9095 66.9998 57.5C58.4998 44.5 62.9998 28.5 76.9998 20.5C88.1998 14.1 96.3331 8.83333 98.9998 7C101.666 8.83333 109.8 14.1 121 20.5C135 28.5 139.5 44.5 131 57.5C127.462 62.9102 122.509 69.9982 117.842 76.5398C113.505 82.4806 109.552 87.9055 107.001 91.4112L108.5 92.5C111.046 88.9907 114.984 83.5552 119.293 77.5941C124.073 71.1345 129.283 64.233 133.335 59.1969C143.072 47.0957 159.68 46.4312 171.615 57.2738C181.162 65.948 188.685 72.0557 191.252 74.0253C190.333 77.128 187.837 86.4908 185.211 99.1203C181.929 114.907 168.103 124.131 153.112 120.065C146.875 118.372 138.604 115.852 130.941 113.435C123.95 111.145 117.568 109.062 113.445 107.72L112.873 109.481C116.997 110.818 123.385 112.884 130.387 115.141C138.007 117.691 146.179 120.513 152.22 122.81C166.738 128.331 172.502 143.921 165.878 158.622C160.579 170.383 157.095 179.424 156.015 182.475C152.78 182.559 143.104 183.079 130.281 184.484C114.253 186.241 101.208 175.942 100.443 160.428C100.125 153.973 99.9665 145.328 99.8967 137.293C99.914 129.936 99.923 123.224 99.9259 118.888L98.0736 118.888C98.0766 123.224 98.0856 129.937 98.1029 137.293C98.0331 145.328 97.8745 153.973 97.5563 160.428C96.7918 175.942 83.7466 186.241 67.7181 184.484C54.8953 183.079 45.2196 182.559 41.9846 182.475C40.9049 179.424 37.4205 170.383 32.1214 158.622C25.4974 143.921 31.2614 128.331 45.7792 122.81C51.8212 120.512 59.9951 117.69 67.6154 115.14C74.6164 112.884 81.0027 110.818 85.127 109.481L84.5546 107.72C80.4321 109.062 74.0513 111.145 67.0608 113.435C59.3974 115.851 51.1256 118.372 44.8871 120.065C29.8967 124.131 16.0704 114.907 12.7882 99.1203C10.1624 86.4908 7.66685 77.128 6.7473 74.0253C9.31495 72.0557 16.8372 65.948 26.3849 57.2738C38.3196 46.4312 54.9271 47.0957 64.6642 59.1969C68.7159 64.2323 73.9253 71.1326 78.7041 77.5913Z' fill='white'/%3E%3C/svg%3E");
  -webkit-mask-size: 18px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}