@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: IBM Plex Sans, system-ui, sans-serif;
    }
}

html,body{
    background-color: hsl(0,0%,8%);
}

.grid {
    background-image: radial-gradient(hsl(0, 0%, 15%) 1px, transparent 1px);
    background-size: 2rem 2rem;
    background-position: -1.5rem;
}

.image-slider{
    height: 100vh !important;
}

.title-wrapper{
    position: fixed !important;
    inset: 0; 
}

@font-face {
    font-family: "Spectral Medium";
    src: url("/public/Spectral-Medium.ttf");
  }