@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./ScrollIndicator.scss";

@font-face {
  font-family: Hakio;
  src: url("../public/Rockville Solid.otf");
}

.text-hakio {
  font-family: Hakio;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("../public/Radikal-thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("../public/Radikal-light.otf");
  font-weight: 400;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("../public/Radikal-medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("../public/Radikal-bold.otf");
  font-weight: 600;
}

:root {
  --color-bg: hsl(0, 0%, 7%);
}

html,
body {
  background-color: var(--color-bg);
  color: white;
  overflow-x: hidden;
  font-family: Whyte Inktrap;
}

.dotted-bg {
  position: fixed;
  inset: 0;
  background-image: radial-gradient(hsl(0, 0%, 12%) 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-position: 0;
}

.lines {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    90deg,
    hsl(0, 0%, 12%) 1px,
    transparent 1px
  );
  background-size: 25vw;
}

.grid {
  z-index: 0;
  position: fixed;
  inset: 0;
  background-image: linear-gradient(hsl(0, 0%, 11%) 1px, transparent 1px),
    linear-gradient(90deg, hsl(0, 0%, 11%) 1px, transparent 1px);
  background-size: 25vw 25vh;
  background-position: 0 0;
  margin: auto;
}

.background {
  top: 0 !important;
  position: fixed !important;
}
