.project {
    height: 100%;
    max-width: 44rem;
    margin: auto;
    padding: 0 2rem;
    flex: 1;
    font-size: 1.25rem;
    text-align: justify;

    &-title {
        margin-bottom: 1rem;
    }


    h1,
    h2,
    h3 {
        letter-spacing: 3px;
        font-family: var(--font-main);
    }

    h3 {
        letter-spacing: 2px;
    }
}